body {
    direction: rtl;
}

header .main-nav li .flag {
    margin-left: 0;
    margin-right: 10px;
}

.mega-icon a i {
    margin-left: 0;
    margin-right: 10px;
}
header .mega-menu .links li a i {
    margin-left: 10px;
    margin-right: 0px;
}
.articles .box:hover .info i {
    animation: moving-arrow 0.6s linear infinite;
}
@keyframes moving-arrow {
    100% {
        transform: translateX(-10px);
    }
}
.testimoials .container .box img {
    right: 70%;
}

.team .container .box::before,
.team .container .box::after {
    left: 0px;
    right: initial;
}
.team .container .box .info {
    padding-right: 80px;
}
.team .container .box:hover::before {
    width: calc(100% - 60px);
}
.services .container .box .info {
    display: flex;
    flex-direction: row-reverse;
}

.services .container .box .info::before {
    right: 0;
    padding-right: 0;
    padding-left: 15px;
}
.services .container .box .info::after {
    transform: skew(30deg);
    right: 80px;
}
.our-skills .container .skills {
    margin-left: 0px;
    margin-right: 80px;
}
@media (max-width: 991px) {
    .our-skills .container .skills {
        margin-right: 0px;
    }
}

.work-steps .container .image {
    margin-right: 0;
    margin-left: 100px;
}
@media (max-width: 991px) {
    .work-steps .container .image {
        margin-left: 0px;
    }
}
.work-steps .container .info .box img {
    margin-right: 0;
    margin-left: 30px;
}
.pricing .box ul li::before {
    content: "";
}

.pricing .box ul li::after {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    font-weight: bold;
    margin-right: 10px;
    color: var(--main-color);
}
footer .box .links li a::before {
    margin-left: 10px;
    margin-right: 0px;
}
